@import "../../variables"

@keyframes triggeredItem
    0%
        transform: scale(1)
    50%
        transform: scale(1.05)
        box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22)
    100%
        transform: scale(1)
@keyframes itemGlow
    0%
        left: -90px
    30%
        left: calc(100% + 33px)
    100%
        left: calc(100% + 33px)
@keyframes showItem
    0%
        transform: scale(0)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)

section.vote
    padding: 0 15px
    box-sizing: border-box
    text-align: center
    @media (max-width: $breakpoint-small)
        padding-bottom: 100px

    h2
        font-size: 42px
        margin: 0 0 20px
        @media (max-width: $breakpoint-small)
            font-size: 28px

    button.refresh
        background: transparent url(img/refresh.svg) no-repeat 50% 50% / contain
        transform-origin: 44.5% 50%
        border: 0
        height: 75px
        width: 75px
        cursor: pointer
        margin-bottom: 20px
        transition: 0.5s ease
        opacity: 0.25
        outline: none !important
        &:hover
            opacity: 0.75
            transform: rotate(360deg)

    .bottom
        text-align: right
        display: flex
        justify-content: center
        align-items: center
        margin-top: 40px
        color: #72767d
        @media (max-width: $breakpoint-small)
            display: block
            text-align: center
        button.other
            cursor: pointer
            font-size: 14px
            color: #72767d
            transition: 0.3s ease
            background: transparent
            border: 0
            @media (max-width: $breakpoint-small)
                display: block
                text-align: center
                width: 100%
            &:hover
                text-decoration: underline
                color: #8e9297
            &:focus
                outline: 0
        button.next
            color: #fff
            background-color: #43b581
            cursor: pointer
            border-radius: 3px
            font-size: 18px
            font-weight: 500
            padding: 10px 30px
            border: 0
            transition: 0.3s ease
            @media (max-width: $breakpoint-small)
                margin-top: 25px
            &:hover
                background-color: #3ca374
            &.skip
                background-color: #7289da
                opacity: 0.75
            &.skip:hover
                background-color: #677bc4
                opacity: 1
            &:disabled
                background: #4F545C
                color: #72767d
                opacity: 0.75

    .variants
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: flex-start
        margin: -10px -10px
        @media (max-width: $breakpoint-small)
            margin: -5px -5px
        .item, .child, .item-big, .item-two, .item-img
            cursor: pointer
            background: #34373C
            width: 125px
            margin: 10px
            padding: 10px
            border-radius: 5px
            min-height: 80px
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            transition: 0.3s ease
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
            border: 3px solid #34373C
            box-sizing: border-box
            @media (max-width: $breakpoint-small)
                padding: 5px
                font-size: 14px
                width: 90px
                margin: 5px
            &.triggered
                animation: 2s ease infinite triggeredItem
                overflow: hidden
                position: relative
            &.triggered:after
                background: #FFF
                content: ""
                height: 140px
                left: -90px
                opacity: .2
                position: absolute
                top: -30px
                transform: rotate(35deg)
                width: 50px
                animation: 3s ease 1 itemGlow
            @for $i from 1 through 10
                &-enter-active:nth-child(#{$i}n)
                    animation-delay: #{($i * 0.05)}s
            &-enter
                transform: scale(0)
                transition: 0s
                opacity: 0
            &-enter-active
                opacity: 0
                transform: scale(0)
            &-enter-done
                opacity: 1
                transform: scale(1)
            img
                width: 100%
            .text-fit
                display: flex
                align-items: center
            p
                margin: 5px 0 0 0
                font-size: 14px
                @media (max-width: $breakpoint-small)
                    font-size: 12px
            &:hover
                background-color: #393c43
                transform: scale(1.05)
                box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22)
                opacity: 1
                border-color: #393c43
                animation: none
                @media (max-width: $breakpoint-small)
                    transform: scale(1)
            &.active
                border-color: #43b581
                transform: scale(1.1)
                box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22)
                transition: 0.1s ease
                opacity: 1
                @media (max-width: $breakpoint-small)
                    transform: scale(1.075)
        .child
            min-height: 30px
            font-size: 14px
            opacity: 0.4
            &:hover
                transform: scale(1.025)
            &.active
                transform: scale(1.1)
        .item-big
            flex-basis: 75%
            min-height: 50px
            font-size: 18px
            @media (max-width: $breakpoint-small)
                font-size: 14px
                flex-basis: 100%
        .item-two
            flex-basis: 30%
            min-height: 50px
            font-size: 20px
            @media (max-width: $breakpoint-small)
                flex-basis: calc(50% - 10px)
        .item-img
            min-height: 200px
            @media (max-width: $breakpoint-small)
                min-height: auto
        .item-animation
            opacity: 1
            transform: scale(1)
            transition: opacity 200ms, transform 200ms
