section.vote
    padding: 0 15px
    box-sizing: border-box

    h2
        font-size: 42px
        margin: 0 0 40px

    .bottom
        text-align: right
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 40px
        .other
            cursor: pointer
            font-size: 14px
            color: #72767d
            transition: 0.3s ease
            &:hover
                text-decoration: underline
                color: #8e9297
        button
            color: #fff
            background-color: #43b581
            cursor: pointer
            border-radius: 3px
            font-size: 18px
            font-weight: 500
            padding: 10px 30px
            border: 0
            transition: 0.3s ease
            &:hover
                background-color: #3ca374
            &:disabled
                background: #4F545C
                color: #72767d
                opacity: 0.75

    .variants
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 0 -10px
        .item
            cursor: pointer
            background: #34373C
            flex: 1
            flex-basis: 100px
            margin: 0 10px
            padding: 10px
            border-radius: 5px
            min-height: 80px
            display: flex
            align-items: center
            justify-content: center
            transition: 0.3s ease
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
            border: 0
            box-sizing: border-box
            &:hover
                background: #393c43
                transform: scale(1.05)
                box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22)
            &.active
                border: 3px solid #43b581
                transform: scale(1.1)
                box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22)
                transition: 0.1s ease
