@import "../../variables"

footer
    min-height: 50px
    display: flex
    justify-content: center
    align-items: center
    font-size: 12px
    bottom: 0
    left: 0
    width: 100%
    color: #72767d
    margin-top: -50px
    text-align: center
    padding: 0 10px
    box-sizing: border-box
    p
        margin: 0
    a
        transition: 0.2s ease
        color: #72767d
        &:hover
            color: #8e9297
